body {
  font-size: 29px;
  font-style: oblique;

}

h1 {
  font-size: 72px;
background: -webkit-linear-gradient( rgb(56, 153, 170),rgb(0, 16, 104));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.footer{
  background:#333;
}

.footer .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box{
  margin:2rem;
  flex:1 1 30rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 1.4rem;
  color:#eee;
  padding:1rem 0;
}

.footer .box-container .box a{
  font-size: 1.8rem;
  color:#eee;
  padding:.4rem 0;
  display: block;
}

.footer .box-container .box a:hover{
  text-decoration: underline;
}

.footer .box-container .box:nth-child(2){
  text-align: center;
}

.footer .box-container form{
  display: flex;
  align-items: center;
}

.footer .box-container form input[type="email"]{
  height:4.1rem;
  width:100%;
  font-size: 1.7rem;
  padding:0 1rem;
}

.footer .box-container form .btn{
  margin-top: 0;
}

.footer .box-container form .btn:hover{
  color:#333;
  background:#ccc;
}

.footer .credit{
  font-size: 2rem;
  background:#222;
  text-align: center;
  color:#fff;
  padding:2rem 1rem;
  font-weight: normal;
}

.footer .credit a{
  color:darkorange;
}