@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


  
:root{
    --orange:#FF9814;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--orange);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    padding:0 7%;
    padding-top: 12rem;
}

.btn{
    font-size: 2rem;
    padding:.7rem 3rem;
    background:var(--orange);
    color:#fff;
    margin-top: 1rem;
    cursor: pointer;
}

.btn:hover{
    background:#333;
}

header{
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    background:#fff;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    width:100%;
}

header .heading{
    font-size: 3rem;
    color:#666;
    padding:1rem;
    text-align: center;
}

header #menu{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    margin:1rem;
    display: none;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background:var(--orange);
    padding:1rem; 
}

header .navbar ul li{
    margin:0 1.5rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color:#fff;
}

header .navbar ul li a:hover{
    color:#444;
}


/* weather section */

.weather{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:url("/static/images/home.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: wrap;
}

.weather .image{
    flex:1 1 40rem;
}

.weather .image img{
    width:110%;
    padding-left: 50rem;
}

.weather.content{
    flex:1 1 40rem;
}

.weather .content h1{
    font-size: 5rem;
    color:#444;
}

.weather .content p{
    font-size: 1.8rem;
    color:#666;
    padding:1rem 0;
}

/* about section */

.about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:url("/static/images/home.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: wrap;
}

.about .image{
    flex:1 1 40rem;
}

.about .image img{
    width:90%;
    padding-top: 10rem;
}

.about .content{
    flex:1 1 40rem;
}

.about .content h1{
    font-size: 2.5rem;
    color:#444;
}

.about .content p{
    font-size: 1.6rem;
    color:#666;
    padding:1rem 0;
}

  
.blog .h2 {
    line-height: 1.3;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3.5rem;
  }
  
.blog-card-group { margin-bottom: 10rem; }
  
.blog-card {
    background: var(--background-primary);
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.05);
    transition: 0.25s ease;
  }
  
.blog-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.1);
  }
  
.blog-card-banner { display: none; }
.blog-card-banner img{
    width: 450px;
    padding-left: 100px;
}
  
.blog-content-wrapper { padding: 30px 5px; }

.blog-content-wrapper p{
    font-size: 16px;
}
  
.blog-topic {
    background: var(--action-secondary);
    color: var(--foreground-secondary);
    font-weight: 1000;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1.9rem;
  }
  
.blog-topic:hover {
    background: var(--foreground-secondary);
    color: var(--action-secondary);
    font-size: 2rem;
  }
  
.blog-card .h3 {
    line-height: 1.4;
    margin-bottom: 1rem;
  }
  
.blog-card .h3:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  
.blog-text,
.profile-wrapper { display: none; }
  
.blog .wrapper {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    flex-wrap:       wrap;
    gap: 15px;
  }

.blog .h4 { color: var(--foreground-secondary); }

.blog .h4:hover { color: var(--accent); }

.blog .text-sm {
    display:     flex;
    align-items: center;
    gap: 5px;
    color: var(--foreground-tertiary);
  }
 .blog.h4.wrapper{
    font-size: large;
 } 
  

.blog .separator {
    background: var(--foreground-tertiary);
    margin-inline: 3px;
    margin: 0 3px; /* fallback for margin-inline */
    width:  3px;
    height: 3px;
    border-radius: 3px;
  }
  
.blog ion-icon { --ionicon-stroke-width: 50px; }



/* service section */

.service{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:url("/static/images/home.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: wrap;
    min-height: 100vh;
    
}

.service .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.service .box-container .box{
    background:#fff;
    margin:2rem;
    padding:1rem;
    width:30rem;
    text-align: center;
    box-shadow: 0 0 .3rem rgba(0,0,0,.3);
}

.service .box-container .box i{
    font-size: 4rem;
    padding:1rem;
    color:var(--orange);
}

.service .box-container .box h3{
    font-size: 2rem;
    color:#444;
}

.service .box-container .box h2{
    font-size: 3rem;
    color: #FF9814;
}

.service .box-container .box p{
    font-size: 1.3rem;
    color:#666;
    padding:1rem;
}

/* plan section */

.plan{
    min-height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:url("/static/images/home.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: wrap;
}

.plan .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem;
}

.plan .box-container .box{
    background:#fff;
    margin:1rem;
    padding:2rem;
    width:28rem;
    text-align: center;
    box-shadow: 0 0 .3rem rgba(0,0,0,.3);
    position: relative;
}

.plan .box-container .box .title{
    font-size: 3rem;
    color:#666;
    padding:1rem 0;
}

.plan .box-container .box .price{
    background:var(--orange);
    color:#fff;
    border-radius: 50%;
    margin:1rem auto;
    height:13rem;
    width:13rem;
    line-height: 13rem;
    text-align: center;
    font-size: 2.9rem;
}



.plan .box-container .box ul li{
    color:#666;
    list-style: none;
    font-size: 1.7rem;
    padding:1rem 0;
}

/* contact section */

.contact{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.contact form{
    flex:1 1 40rem;
    padding:2rem;
    margin:1rem;
    margin-top: 4rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,.3);
}

.contact .content{
    flex:1 1 40rem;
    padding:3rem 1rem;
}

.contact form .box{
    width:100%;
    color:#333;
    height:4rem;
    font-size: 1.7rem;
    border-bottom: .2rem solid rgba(0,0,0,.3);
    text-transform: none;
    margin:1rem 0;
}

.contact form .box::placeholder{
    text-transform: capitalize;
}

.contact form .box:focus{
    border-color: var(--orange);
}

.contact form .message{
    height:15rem;
    resize: none;
}

.contact .content h3{
    font-size: 4rem;
    color:#444;
}

.contact .content p{
    font-size: 1.8rem;
    color:#666;
    padding:1rem 0;
}

.contact .content .icons{
    font-size: 1.7rem;
    color:#333;
    padding:.7rem 0;
}

.contact .content .icons i{
    padding-right: .5rem;
    color:var(--orange);
}

/* Air section */

.Air{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:url("/static/images/home.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: wrap;
}

.Air.image{
    flex:1 1 40rem;
}

.Air .image img{
    width:120%;
    padding-left: 35rem;
    padding-bottom: 40rem;
    
}

.Air .content{
    flex:1 1 40rem;
}
.Air form label{
    margin-top: auto;
    padding-top: -3rem;
    font-size: 20px;

}

.Air .content h1{
    font-size: 5rem;
    color:#444;
    padding-bottom: 35rem;
}

.Air .content p{
    font-size: 1.8rem;
    color:#666;
    padding:1rem 0;
}

.Air.content form div{
    font-size: 50rem;
    font-weight: 900;
    padding-bottom: 200rem;
}
.Air  .content form{
    font-size: 1.25rem;
    font-weight: 900;
}

.Air  .content div{
    padding-bottom: 1rem;
}
/* footer section */
.footer{
    background:#333;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    margin:2rem;
    flex:1 1 30rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
}

.footer .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding:1rem 0;
}

.footer .box-container .box a{
    font-size: 1.8rem;
    color:#eee;
    padding:.4rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .box-container .box:nth-child(2){
    text-align: center;
}

.footer .box-container form{
    display: flex;
    align-items: center;
}

.footer .box-container form input[type="email"]{
    height:4.1rem;
    width:100%;
    font-size: 1.7rem;
    padding:0 1rem;
}

.footer .box-container form .btn{
    margin-top: 0;
}

.footer .box-container form .btn:hover{
    color:#333;
    background:#ccc;
}

.footer .credit{
    font-size: 2rem;
    background:#222;
    text-align: center;
    color:#fff;
    padding:2rem 1rem;
    font-weight: normal;
}

.footer .credit a{
    color:var(--orange);
}











/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    .home .content{
        text-align: center;
    }

    .home .content h1{
        font-size: 4rem;
    }

    .about .content h1{
        font-size: 4rem;
    }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0 1rem;
    }

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:6.2rem; right:-120%;
        height:100%;
        width:100%;
        border-top: .2rem solid rgba(0,0,0,.3);
    }

    header .navbar ul{
        height:100%;
        width:100%;
        flex-flow: column;
        background:#fff;
        padding-bottom: 15rem;
    }

    header .navbar ul li{
        text-align: center;
        width:100%;
        margin:1rem 0;
    }

    header .navbar ul li a{
        font-size: 4rem;
        color:#333;
        display: block;
    }

    header .navbar ul li a:hover{
        color:var(--orange);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        right:0;
    }

    section{
        padding-top: 5rem;
    }

    .footer .box-container .box:last-child{
        text-align: center;
    }

    .footer .box-container .box:last-child p{
        font-size: 1.7rem;
    }

    .footer .box-container .box:last-child form{
        flex-flow: column;
    }

    .footer .box-container .box:last-child form .btn{
        margin-top: 1rem;
        width:100%;
    }

}

@media (min-width: 550px) {

   
      /**
       * BLOG 
       */
    
      .blog-card {
        display: grid;
        grid-template-columns: 3fr 4fr;
        gap: 20px;
      }
    
      .blog-card-banner {
        display: block;
        overflow: hidden;
        border-radius: 5px;
      }
    
      .blog-banner-img {
        width:  100%;
        height: 100%;
        object-fit: cover;
      }
    
    }

    /**
 * responsive for larger than 650px screen
 */

@media (min-width: 650px) {

    
  
    /**
     * BLOG 
     */
  
    .blog .h2 {
      position: relative;
      text-align: left;
      padding-left: 2rem;
    }
  
    .blog .h2::before {
      content: '';
      position: absolute;
      top:  0;
      left: 0;
      background: var(--action-primary);
      width:  5px;
      height: 100%;
      border-radius: 5px;
    }
  
    .blog-text,
    .profile-wrapper { display: block; }
  
    .blog-text {
      color: var(--foreground-secondary);
      font-size: var(--fs-4);
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 1rem;
    }
  
    .blog .wrapper-flex {
      display:         flex;
      justify-content: start;
      align-items:     center;
      gap: 10px;
    }
  
    .profile-wrapper {
      width:  56px;
      height: 56px;
      background: var(--action-primary);
      padding: 3px;
      border-radius: 50%;
    }
  
    .profile-wrapper img { border-radius: 50%; }
  
    .blog .wrapper {
      flex-direction: column;
      align-items: start;
      gap: 0;
    }
}